.bg-parent {
  display: flex;
  flex: 1 0 auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #36393f;
  flex-direction: column;
}

.bg-parent p {
  text-align: center;
}

.rip-image {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  flex: 1 1 auto;
  height: 100vh;
  width: 100%;
  overflow: auto;
  margin: 0 10%;
  background-color: #36393f;
}

@media (max-width: 768px) {
  .parent {
    margin: 0;
  }
}

.chat {
  box-shadow: rgba(4, 4, 5, 0.15) 0px 1px 2px 0px;
  background-color: #36393f;
  display: flex;
  position: relative;
  flex: 1 1 auto;
}

.scroller {
  overflow: hidden auto;
  flex: 1 1 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-anchor: none;
}

.discord-messages {
  border: none;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  display: flex;
  position: relative;
  overflow-anchor: none;
}

span {
  word-wrap: normal;
}

.footer {
  background-color: #36393f;
  margin-top: 16px;
  margin-bottom: 12px;
  height: 60px;
  position: relative;
}

.disabled {
  cursor: not-allowed;
  background-color: #3b3e45;
  margin: 0 16px;
  padding: 11px 16px;
  height: 25px;
  font-size: 1rem;
  align-items: center;
  display: flex;
  border-radius: 8px;
}

.disabled span {
  opacity: 0.5;
  color: #72767d;
}

.typing {
  position: relative;
  padding: 2px 10px;
  border-radius: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

.typing_dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  animation: loadingFade 1s infinite;
}

.typing_dot:nth-child(1) {
  animation-delay: 0s;
}

.typing_dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing_dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0.4;
    background: #8d8c91;
  }
  50% {
    opacity: 1;
    background: #fff;
  }
  100% {
    opacity: 0.4;
    background: #8d8c91;
  }
}

.channel-header {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 32px;
  flex: 0 0 auto;
}

.channel-header .icon {
  border-radius: 50%;
  height: 68px;
  width: 68px;
  background-color: #4f545c;
  background-image: url(/public/channel-icon.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.channel-header h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.channel-header span {
  color: #b9bbbe;
}

.divider {
  color: #72767d;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: thin solid hsla(0, 0%, 100%, 0.06);
  height: 0;
  flex: 0 0 auto;
  margin: 1.5rem 1rem 0.5rem;
  font-weight: bold;
  z-index: 1;
  outline: 0;
  position: relative;
  left: 0;
  right: 0;
  margin-left: 1rem;
  margin-right: 0.875rem;
}

.divider span {
  display: block;
  flex: 0 0 auto;
  padding: 2px 4px;
  background: #36393f;
}

.chat-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 0;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 55px;
  font-size: 16px;
  line-height: 20px;
  cursor: default;
  z-index: 2;
  color: var(--text-normal);
  background-color: #36393f;
  box-sizing: border-box;
  padding: 0 8px;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
    0 2px 0 rgba(4, 4, 5, 0.05);
}

.toolbar {
  display: flex;
  flex-direction: row;
  margin: 0 8px;
}
.toolbar button {
  position: relative;
  width: auto;
  height: 30px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  margin: 0 8px;
  flex: 0 0 auto;
}

.toolbar svg {
  fill: #dcddde;
  width: 30px;
  height: 30px;
  opacity: 0.8;
  display: block;
}

.toolbar svg:hover {
  opacity: 1;
}

.code .discord-message-markup {
  display: flex;
}

.discord-message-markup {
  font-size: 1.08rem !important;
}

.channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

.channel svg {
  color: #72767d;
}

h3 {
  color: #fff;
  font-weight: 600;
  margin-left: 8px;
  font-size: 20px;
}

.channel-divider {
  width: 1px;
  height: 28px;
  margin: 0 8px;
  background-color: #ffffff0f;
}

.channel-desc {
  line-height: 18px;
  color: #b9bbbe;
  font-weight: 500;
}