.bg-parent {
  display: flex;
  flex: 1 0 auto;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #36393f;
  flex-direction: column;
}

.bg-parent p {
  text-align: center;
}

.rip-image {
  width: 20%;
  height: 20%;
  object-fit: cover;
}

.parent {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  flex: 1 1 auto;
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.chat {
  background-color: #36393f;
  display: flex;
  position: relative;
  flex: 1 1 auto;
}

.scroller {
  overflow: hidden auto;
  flex: 1 1 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-anchor: none;
}

.discord-messages {
  border: none;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
  display: flex;
  position: relative;
  overflow-anchor: none;
}

span {
  word-wrap: normal;
}

.footer {
  background-color: #36393f;
  margin-top: 16px;
  margin-bottom: 12px;
  height: 60px;
  position: relative;
}

.disabled {
  cursor: not-allowed;
  background-color: #3b3e45;
  margin: 0 16px;
  padding: 11px 16px;
  height: 25px;
  font-size: 1rem;
  align-items: center;
  display: flex;
  border-radius: 8px;
}

.disabled span {
  opacity: 0.5;
  color: #72767d;
}

.typing {
  position: relative;
  padding: 2px 10px;
  border-radius: 20px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

.typing_dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  border-radius: 50%;
  animation: loadingFade 1s infinite;
}

.typing_dot:nth-child(1) {
  animation-delay: 0s;
}

.typing_dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing_dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0.4;
    background: #8d8c91;
  }
  50% {
    opacity: 1;
    background: #fff;
  }
  100% {
    opacity: 0.4;
    background: #8d8c91;
  }
}

.channel-header {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 32px;
  flex: 0 0 auto;
}

.channel-header .icon {
  border-radius: 50%;
  height: 68px;
  width: 68px;
  background-color: #4f545c;
  background-image: url(/public/channel-icon.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.channel-header h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.channel-header span {
  color: #b9bbbe;
}

.divider {
  color: #72767d;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: thin solid hsla(0, 0%, 100%, 0.06);
  height: 0;
  flex: 0 0 auto;
  margin: 1.5rem 1rem 0.5rem;
  font-weight: bold;
  z-index: 1;
  outline: 0;
  position: relative;
  left: 0;
  right: 0;
  margin-left: 1rem;
  margin-right: 0.875rem;
}

.divider span {
  display: block;
  flex: 0 0 auto;
  padding: 2px 4px;
  background: #36393f;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  flex-direction: column;
  gap: 0.5rem;
}

.overlay button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #2f3136;
  border: none;
  box-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
  cursor: pointer;
}

.overlay button:hover:not(.disabled-button) {
  background-color: #3a3e44;
}

.overlay svg {
  fill: #b9bbbe;
  width: 2rem;
  height: 2rem;
}

.overlay .disabled-button {
  cursor: not-allowed;
  background-color: #4f545c;
}